// | -------------------------------------------------------------
// | Color
// | -------------------------------------------------------------

$colors: (
  primary: (
    100: hsl(276, 51%, 56%),
    200: hsl(276, 56%, 44%),
    300: hsl(276, 58%, 35%),
    400: hsl(276, 72%, 29%),
    500: hsl(276, 96%, 20%),
  ),
  secondary: (
    100: hsl(205, 80%, 65%),
    200: hsl(205, 72%, 54%),
    300: hsl(205, 64%, 44%),
    400: hsl(205, 79%, 35%),
    500: hsl(205, 81%, 29%),
  ),
  neutral: (
    100: hsl(0 0% 100%),
    200: hsl(200 23% 97%),
    300: hsl(200 12% 95%),
    400: hsl(205 12% 88%),
    500: hsl(209 13% 83%),
    600: hsl(208 6% 55%),
    700: hsl(210 8% 31%),
    800: hsl(212 9% 22%),
    900: hsl(210 10% 14%),
  ),
  dark: (
    100: hsl(240, 4%, 9%),
  ),
);
