---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="404">
  <section class="my-12">
    <div class="container text-center">
      <h1>404</h1>
    </div>
  </section>
  <section class="my-12">
    <div class="space-content container text-center">
      <p class="text-2xl">Déjà vu cette erreur non ? Cette page n'existe pas :(</p>
      <a class="button" href="/">Retour au site</a>
    </div>
  </section>
</DefaultLayout>
