---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import References from '../components/References.astro';
import Engagements from '../components/Engagements.astro';
import ContentMedia from '../components/ContentMedia.astro'
import CallToAction from '../components/CallToAction.astro';
---

<DefaultLayout title="Accueil">
  <Hero />
  <References/>
  <Engagements/>
  
  <ContentMedia imgSrc="/img/portfolio_hero.webp" href="https://cv.devweb.dev">
    <h2>Le Portfolio</h2>
    <p class="text-2xl">
      Le portfolio est l'ensemble des travaux ou des projets réalisés par une personne ou une entreprise, il permet de montrer ses compétences et son expérience. ncDevWeb mets ses compétences de dev Web au service de votre CV numérique.
    </p>
    <a class="button text-xl rounded-lg" href="https://cv.devweb.dev" target="_blank"> visiter le site</a>
  </ContentMedia>
  <ContentMedia imgSrc="/img/vitrine_pano.webp" href="https://vitrine.devweb.dev">
    <h2>La Vitrine Panoramique</h2>
    <p class="text-2xl">
      Constituée d'une multitude de pages, ce site statique vous permets de diffuser vos savoirs faire de manière plus approfondie. Joignez des vidéos, documents et détaillez vos projets afin de devenir la référence de votre domaine. 
    </p>
    <a class="button text-xl rounded-lg" href="https://flynaero.com" target="_blank"> visiter le site</a>
  </ContentMedia>
  
  <CallToAction
    href="https://framagit.org/users/ncDevWeb/projects"
    titre="Vous êtes développeur ?"
    sousTitre="Le code de nos sites est ouvert sur FramaGit"
    textLien="jeter un oeil"
    id="action-framagit"
    target="_blank"
    pack="mdi",
    name="eye"
  />

  <ContentMedia imgSrc="/img/lb4.webp" href="https://laboutiquedu4.fr">
    <h2>Le Blog</h2>
    <p class="text-2xl">
      Que vous soyez une entreprise, un media indépendant ou bien même un particulier, le blog est une application qui permet de publier du contenu régulièrement sous forme de billets ou d'articles. ncDevWeb vous propose de créer votre propre espace d'expression.
    </p>
    <a class="button text-xl rounded-lg" href="https://laboutiquedu4.fr" target="_blank"> visiter le site</a>
  </ContentMedia>
  <ContentMedia imgSrc="/img/boutique_hero.webp" href="https://boutique.devweb.dev">
    <h2>La Boutique en ligne</h2>
    <p class="text-2xl">
      Application Web qui vous permettra de vendre vos produits et services en ligne avec des outils accessibles et sécurisés. Gestion des stocks, des commandes, des factures... Il n'a jamais été aussi facile d'ouvrir son marché au monde entier.
    </p>
    <a class="button text-xl rounded-lg" href="https://boutique.devweb.dev" target="_blank"> visiter le site</a>
  </ContentMedia>
</DefaultLayout>
