---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="mentions légales">
  <section class="my-[100px] container pb-5">
    <h1 class="py-2">Mentions légales</h1>
    <div class="space-content container">
      <p class="text-xl">ncDevWeb, micro-société Spécialisé dans le secteur du développement Web, programmation informatique.</p>
      <p class="text-left">Nicolas Courtonne est le gérant de la société ncDevWeb immatriculée SIREN 915 101 083. <br>
      Développement & webmaster : Nicolas Courtonne. <br>
      Responsable de la publication, personne physique : Nicolas Courtonne. <br>
      Hébergement : OVH, 2 rue Kellermann, 59100 Roubaix - France.</p>
      <aside class="text-xl text-center py-2">Ce site ne contient aucun cookie, ni traqueur et aucune donnée personnelle n'est récupérée.</aside>
    </div>
    <p>MIT License <br>
      <br>
      Copyright (c) 2023 Mark Teekman <br>
      <br>
      Permission is hereby granted, free of charge, to any person obtaining a copy
      of this software and associated documentation files (the "Software"), to deal
      in the Software without restriction, including without limitation the rights
      to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
      copies of the Software, and to permit persons to whom the Software is
      furnished to do so, subject to the following conditions: <br>
      <br>
      The above copyright notice and this permission notice shall be included in all
      copies or substantial portions of the Software. <br>
      <br>
      THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
      IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
      FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
      AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
      LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
      OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
      SOFTWARE.
      </p>
  </section>
</DefaultLayout>
