---
import { Icon } from 'astro-icon'
interface Props {
  href: string,
  textLien: string,
  titre: string,
  sousTitre: string,
  id: string,
  target: string,
  pack: string,
  name: string
}
const {href} = Astro.props;
const {textLien} = Astro.props;
const {titre} = Astro.props;
const {sousTitre} = Astro.props;
const {id} = Astro.props;
const {target} = Astro.props;
const {pack} = Astro.props;
const {name} = Astro.props;
---
<div class="container my-0">
  <name class="call-to-action my-8 flex flex-col items-center gap-12 rounded-xl p-12 md:p-24">
    <h2 class="text-center text-3xl md:text-5xl">{titre}</h2>
    <h3 class="text-center text-2xl md:text-3xl">{sousTitre}</h3>
    <a id={id} target={target} href={href} class="button has-icon color-primary">
      {textLien}
      <Icon pack={pack} name={name} />
    </a>
  </div>
</div>

<style lang="scss">
  .call-to-action {
    color: var(--neutral-900);
    background-image: linear-gradient(40deg, var(--primary-100), var(--secondary-200));
  }

  .call-to-action a:not(button),
  .call-to-action a:not(button):visited {
    padding: 1rem;
    color: var(--neutral-900);
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;

    &:where(:hover, :focus) {
      color: var(--neutral-100);
      background-color: var(--neutral-900);
      text-decoration: unset;
    }
  }
</style>
