---
import { Media } from 'accessible-astro-components'

const { imgSrc,href } = Astro.props
---

<section class="my-16 md:my-32">
  <div class="container">
    <div class="grid grid-cols-1 gap-2 md:gap-16 md:grid-cols-2">
      <a href={href} target="_blank"><Media class="rounded-lg" src={imgSrc} /></a>
      <div class="space-content flex flex-col justify-center">
        <slot />
      </div>
    </div>
  </div>
</section>
