---
import Feature from '../components/Feature.astro';
---

<section class="my-64">
  <div class="container">
    <h2 class="mb-16 text-5xl">Nos Engagements</h2>
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
      <Feature icon="mdi:code" title="Développement">
        Technologies de pointe et code optimisé. Temps de réaction minimum et des économies en ressources.
      </Feature>
      <Feature icon="fluent:design-ideas-20-filled" title="Design adaptatif">
        Nos design sont "responsive", ils s'adaptent à tous types d'appareils pour une visibilité optimale et une navigation fluide. 
      </Feature>
      <Feature icon="clarity:no-wifi-solid" title="NO GAFAr'M">
        Aucun cookie, traqueur ou analyseur provenant de site tiers. Vos données et celles de vos visiteurs restent personnelles.
      </Feature>
      <Feature icon="carbon:data-table-reference" title="Référencement">
        Référencement naturel pour un impact positif sans traqueur sur le classement des résultats de moteurs de recherches.
      </Feature>
      <Feature icon="ic:round-security" title="Sécurité">
        Hébergement des pages et des bases de donnée sur des serveurs sécurisés OVH.
      </Feature>
      <Feature icon="mdi:scheduled-maintenance" title="Veille 24/7">
        Maintient des services et technologies à jour, sauvegardes et interventions rapide en cas de problème.
      </Feature>
    </div>
  </div>
</section>