---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer id="contact" class="w-full flex flex-col items-center">
  <CallToAction
    href="#"
    titre="Vous avez une question ?"
    sousTitre="n'hésitez pas à nous contacter par courriel"
    textLien="envoyer"
    id="action-mail"
    target=""
    pack="wpf"
    name="message"
    />
  <section class="py-2 md:py-8 text-center">
    <div class="container">
      <p>
        Développé avec <a href="https://astro.build/">Astro</a> &copy; {currentYear} ncDevWeb | <a href="/mentions">Mentions légales</a>
      </p>
    </div>
  </section>
</footer>
<script>
  const actionMail = document.querySelector("#action-mail");
  const prefix = "nicolas";
  const domaine = "devweb";
  const extension = "dev";
  const handleClick = () => {
    const direction = "mailto:" + prefix + "@" + domaine + "." + extension;
    window.location.href = direction;
  }
  actionMail.addEventListener('click',handleClick);
</script>
