---
import Navigation from '../components/Navigation.astro'
import { SkipLinks } from 'accessible-astro-components'
import { Icon } from 'astro-icon'
---

<header class="fixed w-screen z-50 bg-violet-50 dark:bg-violet-950 rounded-b-xl">
  <SkipLinks />
  <Navigation>
    <li class="menu-item">
      <a href="/">Accueil</a>
    </li>
    <li class="menu-item">
      <a href="https://boutique.devweb.dev" target="_blank">Boutique</a>
    </li>
    <li class="menu-item has-dropdown">
      <button aria-haspopup="true" aria-expanded="false">Annexes</button>
      <ul class="dropdown-menu">
        <li class="submenu-item">
          <a href="https://cv.devweb.dev" target="_blank">Portfolio / CV</a>
        </li>
        <li class="submenu-item">
          <a href="https://flynaero.com" target="_blank">Vitrine panoramique</a>
        </li>
        <li class="submenu-item">
          <a href="https://laboutiquedu4.fr" target="_blank">Blog</a>
        </li>
        <li class="submenu-item">
          <a href="https://mastodon.devweb.dev/public" target="_blank">Mastodon</a>
        </li>
      </ul>
    </li>
    <li class="menu-item type-icon">
      <a href="https://framagit.org/users/ncDevWeb/projects" title="Framagit" >
        <Icon pack="ph" name="git-branch-light" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="https://mastodon.devweb.dev/@ncdevweb" title="Mastodon" >
        <Icon pack="bi" name="mastodon" />
      </a>
    </li>
    <li class="menu-item type-icon">
      <a href="#" title="Contact" id="icone-mail">
        <Icon pack="wpf" name="message" />
      </a>
    </li>
  </Navigation>
</header>

<script>
  const actionMail = document.querySelector("#icone-mail");
  const prefix = "nicolas";
  const domaine = "devweb";
  const extension = "dev";
  const handleClick = () => {
    const direction = "mailto:" + prefix + "@" + domaine + "." + extension;
    window.location.href = direction;
  }
  actionMail.addEventListener('click',handleClick);
</script>

<style lang="scss" is:global>
  @use '../assets/scss/base/outline' as *;

  header {
    .type-icon a {
      display: block;

      [astro-icon] {
        margin-top: -4px;
        width: 30px;

        path {
          fill: var(--action-color);
          transition: fill 0.2s ease-in-out;
        }
      }

      &:hover {
        [astro-icon] path {
          fill: var(--action-color-state);
        }
      }
    }
  }
</style>
