---
import { Icon } from 'astro-icon'

const { src = '/img/1000x1000-logo.webp' } = Astro.props
---

<section class="hero ">
  <div class="container h-screen flex content-center">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2 ">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-4xl md:text-left lg:text-5xl">
          <slot><span class="text-gradient text-7xl lg:text-8xl">ncDevWeb</span><br>Développement de site & application</slot>
        </h1>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a
            class="button has-icon rounded-xl"
            href="https://boutique.devweb.dev"
            target="_blank"
          >
            <Icon pack="bi" name="shop" />
            BOUTIQUE
          </a>
          <a
            class="button has-icon color-secondary rounded-lg"
            href="https://mastodon.devweb.dev/public"
            target="_blank"
          >
            <Icon pack="bi" name="mastodon" />
            SOCIAL
          </a>
        </div>
      </div>
      <img id="logo-hero" src={src} alt="le logo ncdevweb est constitué de 3 lettes v qui se chevauchent" decoding="async" />
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-500) 25%, var(--primary-100));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-300) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .hero {
    position: relative;
  }
  #logo-hero{
    position: relative;
  }
  @media(max-width:1024px){
    #logo-hero {
      position: absolute;
      transform: translate(-50%,-50%);
      top: 50%;
      left: 50%;
      opacity: 0.5;
      z-index: -100;
      filter: blur(5px);
    }
  }
</style>
