---
import Counter from '../components/Counter.astro'
import LogoFlyn from '../../public/img/Logo-FLYNAERO.svg';
import LogoLb4 from '../../public/img/logo-LB4.svg';
---

<section id="counts" class="my-16 container">
  <div>
    <h2 class="text-5xl my-32">Nos références</h2>
    <div class="flex flex-col md:flex-row justify-center items-center gap-3 lg:gap-[300px] mb-32">
      <div class="w-[200px] h-[200px] hover:bg-violet-400 p-6 rounded-lg">
        <a href="https://www.flynaero.com" target="_blank">
          <img src={LogoFlyn} alt="Logo Flynaero" class="w-100 h-100">
        </a>
      </div>
      <div class="w-[200px] h-[200px] hover:bg-violet-400 p-6 rounded-lg">
        <a href="https://laboutiquedu4.fr" target="_blank">
          <img src={LogoLb4} alt="Logo La boutique du 4">
        </a>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="flex flex-col gap-20 grow md:flex-row justify-around">
      <Counter count="3" title="Apps" sub="en ligne" />
      <Counter count="4" title="Sites" sub="en ligne" />
      <Counter count="3" title="Serveurs" sub="Apache & mySQl" />
    </div>
  </div>
</section>