---
const { title, description, url, image, author } = Astro.props

let subtitle = 'ncDevWeb'
---

<!-- general meta -->
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="author" content={author} />

<!-- open graph -->
<meta property="og:title" content={`${title} - ${subtitle}`} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={url} />
<meta property="og:image" content={Astro.site ? `${Astro.site}${image}` : image} />

<!-- twitter card -->

<!-- page title -->
<title>{title} - {subtitle}</title>
